.venv/
__pycache__/
*.pyc
.env
*.db
*.duckdb
*key*.json
.vscode/
# Data files
data/
*.csv
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
logs/
.ipynb_checkpoints/
airflow/logs/
airflow/airflow.cfg
airflow/airflow.db
airflow/*.pid
airflow/webserver_config.py
airflow/airflow.db-wal
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/airflow.db-shm
